.background-dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    background-size: cover;
    margin-top: 0;
    height: 100%;
}
.bg-dark {
    height: 100vh;
    color: #fff;
}
.background-light {
    background-color: hsl(0, 0%, 98%);
}
.grid-cont {
margin-top: 40px;
}
.row>* {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 320px 320px 320px;
    grid-auto-rows: 320px;
    grid-gap: 50px;
}
.row-items {
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightgrey;
    border: none;
    text-decoration: none;
}
Link {
    text-decoration: none;
}
.row-items:hover {
    transform: translateX(30);
}
.row-items img {
    width: 100%;
    height: 53%;
   
}
.countryInfo {
    margin-left: 10%;
    margin-top: 5px;
    text-decoration: none !important;
}
.countryInfo span, h5 {
    font-weight: 500;
    text-decoration: none;
}
.countryInfo p {
    line-height: 10px;
    text-decoration: none;
}
.countryInfo h5 {
    margin-bottom: 20px;
}
.header {
    display: flex;
    align-items: flex-end;
    border-bottom: inset;
    margin-bottom: 30px;
    padding-top: 30px;
}
.header h3 {
    margin-left: 2%;
}

.section-1 input, select,span{
    height: 30px;
}
.section-1 input, select {
    margin-left:20px;
    margin-bottom: 20px;
}
.mode {
    display: inline-flex;
    position: relative;
    left: 65%;
    cursor: pointer;
}
.mode svg {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

input {
    box-shadow: 1px 1px 1px 1px lightgrey;
    border: none;
    height: 40px;
    margin-left: 5%;
    padding: 20px;
}
select {
    box-shadow: 1px 1px 1px 1px lightgrey;
    border: none;
    height: 35px;
}

.goBack {
    border: 1px solid black;
    display: inline-flex;
    width: 7%;
    height: 30px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border: none;
    margin: 20px;
}
.goBack svg {
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 3px;
}
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
  }
@media screen and (max-width : 768px)  {
    .row>* {
        display: inline-flex;
        flex-direction: column;
    }
    .section-1 {
        display: inline-block !important;
    }
    input {
        padding: 20px;
        padding-right: 40px;
        display: block;
        width: 180%;
    }
    input.col-3 {
        width: 100%;
    }
    .section-1 span{
        display: none;
    }
    .section-1 select {
        display: block;
        width: 80%;
        margin: 10px;
    }
    .header {
        width:100vw;
        display: block;
    }
    .header h3 {
        font-size: 20px
    }
    .mode {
        position: absolute;
        top: 25px;
    }
    .goBack {
        width: 20%;
        height: 5%;
    }
}